* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

header {

}
.header-container {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
}
.logo-container {
    font-size: 24px;
    color: #f9faf8;
    width: 50%;
}
.logo-container h3 {
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14rem;
    gap: 1.5rem;
    margin-top: 1rem;
}
.container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 14rem;
    margin: 8rem 0;
    gap: 2rem;
    flex-wrap: wrap;
}
.text-container1 {
    flex: 1 1 40%;
}
.img-container1 {
    display: flex;
    flex: 1 0 40%;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.img-container1 img {
    max-width: 100%;
}

.anchor-container {
    width: 50%;
}
.header ul {
    list-style-type: none;
    display: flex;
    gap: 100px;
}

.text-container1 h1 {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
button {
    background-color: #3882F6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 15px;
    padding: 10px 25px 10px 25px;
}
.container2 h2{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.container3 {
    background-color: #E5E7EB;
    padding: 6rem 16rem;
    display: flex;
    flex-direction: column;
}
.container3 p {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}
.quote {
    text-align: end;
    font-weight: bold;
}
.container4 {
    background-color: #3882F6;
    margin: 6rem;
    padding: 50px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
}



.text-container2 {
    color: white;
}